/* Reset CSS */
* {
    /* Margem = EXTERNA */
    margin: 0;
    box-sizing: border-box;
}



body {
    background-color:  darkred;
    /* cor texto */
    color: aliceblue;
}                                         


/* seletor para os <A> */
a {
/* Propriedade e VALOR */ 
text-decoration: none;
color: aliceblue;
}



/* HEADER = Cabeçalho*/
header{
    /* ROW */
display: flex;
justify-content: space-between;
align-items: center;
background-color: #6403037a;
/* Largura ou Comprimento */
width: 100%
}