/* Reset CSS */
* {
    /* Margem = EXTERNA */
    margin: 0;
    box-sizing: border-box;
}



body {
    background-color: darkred;
    /* cor texto */
    color: aliceblue;
}


/* seletor para os <A> */
a {
    /* Propriedade e VALOR */
    text-decoration: none;
    color: aliceblue;
}



/* HEADER = Cabeçalho*/
header {
    /* ROW */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6403037a;
    /* Largura ou Comprimento */
    width: 100%
}

/* UL sistema lista Topicos*/

.menu {
    list-style: none;
    /* Lista horizontal */
    display: flex;
    /* espaço entre TAGs*/
    gap: 1rem; /* Um rem */
}

/* Tag NAV */
.menu-desktop {
    display: none;
}

/* Daqui pra cima Versão Moble */
/* responsivo */
/* Serve para telas maiores */

/* Telas maiores que 768px */

@media (min-width: 768px) {
   
    /* NAV */
    .menu-desktop {
        display: flex;
    }

}